---
// src/components/MapEmbed.astro
// Component to house the map iframe, keeping it separate and clean.
---
<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.6256961448043!2d85.35706937517676!3d27.72895647610444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19799292d341%3A0xb3518548c267b2d5!2sTharlam%20Monastery!5e0!3m2!1sen!2snp!4v1701389279075!5m2!1sen!2snp"
        width="100%" 
        height="100%" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        aria-label="Google Map showing the location of Tharlam Monastery"
    ></iframe>
</div>

<style>
    .map-container {
        width: 100%;
        height: 100%;
        /* Setting a minimum height to ensure the map is always visible, even when content is short */
        min-height: 600px; 
    }
    .map-container iframe {
        display: block;
        width: 100%;
        height: 100%;
        min-height: inherit;
    }

    @media (max-width: 992px) {
        .map-container {
            min-height: 400px;
        }
    }
    @media (max-width: 576px) {
        .map-container {
            min-height: 300px;
        }
    }
</style>